header{
    display: flex;
    justify-content: space-between;
    background-color: #ff007f;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}
nav{
    text-align: right;
}
a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "fira code";
    text-decoration: none;
    margin-right: 30px;
}
 /* pseudo elemento->:: pseudo classe->: */
 a::before {  
    content: "";
    background-color: #8ae0db;
    height: 10px;
    width: 10px;
    margin-right: 10px;

}
span{
    background-color: #8ae0db;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
#button{
    display: inline-block;
    background-color: #8ae0db;
    height: 60px;
    line-height: 60px;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
}
